name: Deploy to EC2 (Docker Compose)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            set -e
            echo "Connected to EC2"

            cd Uzhathunai_Farming_Platform-_OneAim--Backend

            echo "Reset to origin/main"
            git fetch origin main
            git reset --hard origin/main
            git clean -fd

            echo "Pulling latest code..."
            git pull origin main

            echo "Building & starting containers..."
            docker-compose up -d --build

            echo "Cleaning unused images..."
            docker image prune -af

            echo "Deployment completed!"
